footer.page-footer.red.white-text
      .footer-copyright
        .container
          p.grey-text.text-lighten-2
            | Created by
            a(href='https://www.github.com/heyjp')  HeyJP
            |  for FCC challenge
            a(href='https://www.freecodecamp.com/challenges/build-a-voting-app')  Build a Voting App
