footer.page-footer.indigo.darken-4
      .footer-copyright
        .container
          a.grey-text.text-lighten-4.center(href='#!') Created by HeyJP for FCC challenge 
            a(href='https://www.freecodecamp.com/challenges/build-a-voting-app') Build a Voting App
