footer.page-footer
      div
        h4 Build a voting app
        p
          span Objective
          Build a full stack javascript app and deploy it to Heroku.
      .footer-copyright
        .container
          a.grey-text.text-lighten-4.center(href='#!') Created by HeyJP for FCC challenge Build a Voting App
