extends layout

block content
  section.main-body
    .row.valign-wrapper
      .col.s10.offset-s1
        ul.collection
          - for (var i = 0; i < data.length; ++i) {
          li.collection-item
            a(class="confirm" href='/poll/'+data[i])= pollsTitle[i]
          - }
