extends sublayout.pug

block hero
  h4 Polls Polls
  h6 An FCC Voting App
  p PollsPolls is a web based voting application that allows you to create, delete, and alter all polls.
  p The app is built with Node.js, Express, Pug & Chart.js.
