body {
  padding: 0px;
  margin: 0px;
  min-height: 100vh;
}

nav li a {

  color: #212121;
}

.nav-wrapper a {
  color: #212121 !important;
}

.form-handler {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#custom-option {

  text-align: right;
  display: block;

}

#create-new-option {
float: right;
display: block;
}

.no-contain {
  display: flex;
}

.no-contain input {
  padding-left: 0px !important;
  margin: 0px 0px 15px 0px !important;
}

.no-contain a {
  align-self: flex-end;
  padding-left: 2px;
}

.option-submitter {

  display: block;
}

form button {
  margin: 0px 5px;
}

.title {
  padding-bottom: 20px;
}

#custom-option {
  margin-bottom: 10px;
}

@media only screen
  and (max-width: 600px) {
    .submit-choice {
      width: 100%;
    }
}

.main {
  width: 100%;
  padding: 50px 0px;
  margin: 0px;
  min-height: 40vh;
}

.main-body .col {
  padding: 0px;
}

.main-content {
  min-height: 36vh;
}
